<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>second</title>
</head>
<body>
    <center>
        <h1 style="background: linear-gradient(45deg,lime,lightgreen,lightblue);">
            this is my second HTML page project......
        </h1>
        <h1 style="background: linear-gradient(45deg,lightblue,navy,pink);">My second HTML project is successfully completed...............</h1>
        <img src="https://i.ytimg.com/vi/-3qdKQ77NC8/maxresdefault.jpg" alt="" style="width: 1100px;">
    </center>
</body>
</html>